<nav class="navbar navbar-expand-lg bg-primary text-dark">
    <div class="container-fluid">
      <a routerLink="dashboard" class="navbar-brand text-light">Home</a>

      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapseBasic" [collapse]="isCollapsed">
        <div class="navbar-nav">
          <a routerLink="professores" routerLinkActive="active" class="nav-link text-light">Professores</a>
          <a routerLink="alunos" routerLinkActive="active" class="nav-link text-light">Alunos</a>
          <a routerLink="perfil" routerLinkActive="active" class="nav-link text-light">Perfil</a>
        </div>
      </div>
    </div>
  </nav>