
<div *ngIf="alunoSelecionado">
  <div class="row">
    <div class="col-sm-11 mr-auto">
      <app-titulo [titulo]="'Aluno: ' + alunoSelecionado.nome"></app-titulo> </div>
    <div class="col-sm-1 mr-auto"> 
      <button class="btn btn-default bg-light" (click)="voltar()">Voltar</button></div>
  </div>
  <form>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Nome</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Sobrenome</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Tel</label>
        <input type="text" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Atualizar</button>
  </form>
</div>

<div *ngIf="!alunoSelecionado">
  <!-- This var needs to be 'Input() to be like this'-->
  <app-titulo [titulo]="titulo"></app-titulo>
  <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Tel</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos" style="cursor: pointer;" (click)="selectAluno(aluno)">
          <th scope="row">{{aluno.id}}</th>
          <td>{{aluno.nome}}</td>
          <td>{{aluno.sobrenome}}</td>
          <td>{{aluno.telefone}}</td>
        </tr>
      </tbody>
    </table>
</div>
