
<div *ngIf="professorSelecionado">  
  <div class="row">
    <div class="col-sm-11 mr-auto">
      <app-titulo [titulo]="'Professor: ' + professorSelecionado.nome"></app-titulo>
    </div>
      <div class="col-sm-1"> 
      <button class="btn btn-default bg-light" (click)="voltar()">Voltar</button>
      </div>

  </div>

  <form>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Nome</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Disciplina</label>
      <input type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>
</div>

<div *ngIf="!professorSelecionado">
  <app-titulo [titulo]="titulo"></app-titulo>
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prof of professores" style="cursor: pointer;" (click)="selectProfessor(prof)">
          <th scope="row">{{prof.id}}</th>
          <td>{{prof.nome}}</td>
          <td>{{prof.disciplina}}</td>
        </tr>
      </tbody>
    </table>
</div>