<div class="ui raised segment">
  <h2 class="ui header">Demo Form: Sku</h2>
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)"
        class="ui form error">

    <div class="field">
      <label for="skuInput">SKU</label>
      <input type="text"
             id="skuInput"
             placeholder="SKU"
             formControlName="sku">
            </div>
            <div *ngIf="!sku.valid"
 class="ui error message">SKU is invalid</div>
 <div *ngIf="sku.hasError('required')"
 class="ui error message">SKU is required</div>

<span *ngIf="!myForm.valid" class="ui error message" >Form is invalid</span>
    <button type="submit" class="ui button">Submit</button>
  </form>
</div>
